<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Suministro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <Suministro.Properties.Settings>
        <setting name="SAP_Servidor" serializeAs="String">
          <value>192.168.0.174</value>
        </setting>
        <setting name="SAP_Usuario" serializeAs="String">
          <value>sa</value>
        </setting>
        <setting name="SAP_Contrasena" serializeAs="String">
          <value>P@ssw0rd</value>
        </setting>
        <setting name="BaseSAP" serializeAs="String">
          <value>VESER</value>
        </setting>
        <setting name="OINV" serializeAs="String">
          <value>OINV</value>
        </setting>
        <setting name="OPOR" serializeAs="String">
          <value>OPOR</value>
        </setting>
        <setting name="INV1" serializeAs="String">
          <value>INV1</value>
        </setting>
        <setting name="POR1" serializeAs="String">
          <value>POR1</value>
        </setting>
        <setting name="BaseRS" serializeAs="String">
          <value>BUFFER</value>
        </setting>
        <setting name="RECEPCION_CAB" serializeAs="String">
          <value>RS_RECEPCION_CAB</value>
        </setting>
        <setting name="SUMINISTRO_CAB" serializeAs="String">
          <value>RS_SUMINISTRO_CAB</value>
        </setting>
        <setting name="CONFIRMACIONES" serializeAs="String">
          <value>RS_CONFIRMACIONES</value>
        </setting>
        <setting name="RECEPCION_DET" serializeAs="String">
          <value>RS_RECEPCION_DET</value>
        </setting>
        <setting name="SUMINISTRO_DET" serializeAs="String">
          <value>RS_SUMINISTRO_DET</value>
        </setting>
        <setting name="STS_TOTAL" serializeAs="String">
          <value>T</value>
        </setting>
        <setting name="STS_PARCIAL" serializeAs="String">
          <value>P</value>
        </setting>
        <setting name="RECEPCION" serializeAs="String">
          <value>R</value>
        </setting>
        <setting name="SUMINISTRO" serializeAs="String">
          <value>S</value>
        </setting>
        <setting name="SERVER" serializeAs="String">
			<value>LDAP://192.168.0.199</value>
        </setting>
        <setting name="STS_PRELI" serializeAs="String">
          <value>R</value>
        </setting>
      </Suministro.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
